= form_for feed, :url =>  { :action => 'add_feed_tags', :id => feed.id }, :method => :post, :remote => true do |f|
  input data-role="tagsinput" id="feed_tag_list" name="feed[tag_list]" type="text" value="#{feed.tag_list}" placeholder="separados por comas"
  = f.submit "actualizar", class: 'btn btn-primary btn update-tags', feed_id: feed.id

